.contact-list {
  flex-direction: row;
  justify-self: right;
  align-items: center;
  justify-content: right;
}

.contact-list--mobile {
  position: static;
  justify-content: end;
  align-self: flex-start;

  &:first-child {
    color: $highlight-color;
  }
}

.contact-list__item--mobile {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 2%;

  &:first-child {
    margin-bottom: 32px;
    font-size: 34px;
    color: $highlight-color;
  }
  &:last-child {
    padding-bottom: 64px;
  }
}

.contact-list__icon {
  margin-right: 10px;
}

.contact-list__link {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: $animationDuration;
  transition-timing-function: $animationTimingFunction;

  &:hover,
  &:focus {
    color: $highlight-color;
    --color2: currentColor;
  }
}

.contact-list__footer {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.875;
  padding: 0;
}

.contact-list__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  transition-property: color;
  transition-duration: $animationDuration;
  transition-timing-function: $animationTimingFunction;

  &:hover,
  &:focus {
    color: $highlight-color;
  }
}

.contact-list__link--footer {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  opacity: 60%;
  transition-property: color;
  transition-duration: $animationDuration;
  transition-timing-function: $animationTimingFunction;

  &:hover,
  &:focus {
    color: $highlight-color;
  }
}

// .contact-list__link--mobile {
//   color: $color2;
// }

@media (max-width: calc(#{$tablet} - 1px)) {
  .contact-list {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: $tablet) {
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: $computer) {
  .contact-list {
    display: flex;
    flex-direction: row;

    &:last-child {
      padding-right: 27px;
    }
  }
  .contact-list__link {
    font-size: 14px;
  }
  .contact-list__footer {
    justify-content: left;
    text-align: left;
  }
}
