.header {
  display: flex;
  align-items: center;
  width: 100vw;
  min-width: $minWidth;
  background-color: $bckgr-bright-color;
  border-bottom: 1px solid $bckgr-bright-color;
  padding: 16px 0;
}

.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: $tablet) {
  .header {
    padding: 13px 0;
  }
}

@media (min-width: $computer) {
  .header {
    padding: 24.5px 0;
  }
}
