.intro {
  min-width: $minWidth;
  width: 100vw;
  margin: 0 auto;
  background-color: $bckgr-dark-color;
  background-image: linear-gradient(to top, $color5, rgba(0, 0, 0, 0.1)),
    url("../images/intro-bckgrmob@1x.webp");
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118x;
}

.intro__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__header {
  text-align: center;
  color: $bright-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 6%;
  padding-bottom: 30px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .intro {
    background-image: linear-gradient(to top, $color5, rgba(0, 0, 0, 0.1)),
      url("../images/intro-bckgrmob@2x.webp");
  }
}

@media (min-width: $tablet) {
  .intro {
    width: 100vw;
    background-image: linear-gradient(to top, $color5, rgba(0, 0, 0, 0.1)),
      url("../images/intro-bckgrtab@1x.webp");
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) and (min-width: $tablet) {
  .intro {
    background-image: linear-gradient(to top, $color5, rgba(0, 0, 0, 0.1)),
      url("../images/intro-bckgrtab@2x.webp");
  }
}

@media (min-width: $computer) {
  .intro {
    max-width: 1600px;
    width: 100vw;
    background-image: linear-gradient(to top, $color5, rgba(0, 0, 0, 0.1)),
      url("../images/intro-bckgrdesk@1x.webp");
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .intro__header {
    font-size: 44px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) and (min-width: $computer) {
  .intro {
    background-image: linear-gradient(to top, $color5, rgba(0, 0, 0, 0.1)),
      url("../images/intro-bckgrdesk@2x.webp");
  }
}
