.lorem-section {
  background-color: $bright-color;
}

.lorem-section__list {
  gap: 30px;
}

.lorem-section__item {
  text-align: left;
  width: 100%;
  min-width: calc(#{$minWidth} - 30px);
}

@media (min-width: $tablet) and (max-width: calc(#{$computer} - 1px)) {
  .lorem-section__item {
    flex-basis: calc(#{$tablet} / 2 - 60px);
  }
}

@media (min-width: $computer) {
  .lorem-section__item {
    width: calc((#{$computer} - 120px) / 4);
    min-width: calc((#{$computer} - 120px) / 4);
  }
}

.lorem-section__icon {
  display: flex;
  justify-content: center;
  background-color: $icon-bckgr-color;
  border-radius: $borderRadius;
  padding: 25px 0;
  margin-bottom: 30px;
}

.lorem-section__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: $bold-color;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.lorem-section__text {
  font-size: 14px;
  line-height: 1.71;
}
