.ourclients__header {
  text-align: center;
  color: $dark-color;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.ourclients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.ourclients__link {
  display: block;
  width: auto;
  color: $color4;
  border-radius: $borderRadius;
  border: 1px solid $color4;
  padding: 16px 51px;
  will-change: border, color;
  transition-property: border, color;
  transition-duration: $animationDuration;
  transition-timing-function: $animationTimingFunction;

  &:hover,
  &:focus {
    border: 1px solid $color1;
    color: $color1;
    --color4: currentColor;
  }
}

@media (min-width: $tablet) {
  .ourclients__link {
    width: calc((#{$tablet} - 90px) / 3);
  }
}

@media (min-width: $computer) {
  .ourclients__header {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .ourclients__link {
    width: calc((#{$computer} - 180px) / 6);
    padding: 16px 16px;
  }
}

.ourclients__logo {
  display: inline-flex;
  margin: auto;
}
